services:
  netatmo-influx:
    image: ghcr.io/karaktaka/netatmo-client-influx
    restart: unless-stopped
    environment:
      - NETATMO_CLIENT_ID=
      - NETATMO_CLIENT_SECRET=
      - INFLUX_HOST=
      - INFLUX_PORT=
      - INFLUX_BUCKET=
      - INFLUX_PROTOCOL=
      - INFLUX_TOKEN=
      - INFLUX_ORG=
      - INTERVAL=600
      - LOGLEVEL=INFO
    volumes:
      - "./config.ini:/app/config.ini:rw"
