services:
  influxdb:
    image: docker.io/influxdb:2-alpine
    restart: unless-stopped
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=netatmo
      - DOCKER_INFLUXDB_INIT_PASSWORD=mysupersecurepassword
      - DOCKER_INFLUXDB_INIT_ORG=netatmo-org
      - DOCKER_INFLUXDB_INIT_BUCKET=netatmo
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=myverysecuretoken
    ports:
      - "8086:8086"
    healthcheck:
      test: "curl -f http://localhost:8086/ping"
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 1m

  netatmo-client-influx:
    build:
      context: .
      dockerfile: Dockerfile
    image: localhost/netatmo-client-influx
    restart: unless-stopped
    environment:
      - INFLUX_HOST=influxdb
      - INFLUX_PORT=8086
      - INFLUX_BUCKET=netatmo
      - INFLUX_PROTOCOL=http
      - INFLUX_TOKEN=myverysecuretoken
    volumes:
      - ./src/config.ini:/app/config.ini:rw
    depends_on:
      influxdb:
        condition: service_healthy
